@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.header {
    height: 200px;background: #eff0ff;
}
.headerWrapper {
    width: 100%;margin: 0 auto;display: grid;align-content: center;
    height: 200px;grid-template-columns: 140px 1fr;gap: 1rem;padding: 0 20px;
}
.headerLeft {
    height: 140px;background: var(--white);border: 1px solid var(--light);
}
.headerPhoto {
    position: relative;overflow: hidden;
}
.headerPhoto::after {
    content: '\F4E1';
    font-family: 'bootstrap-icons';
    display: grid;
    justify-content: center;
    height: 140px;
    align-items: center;
    font-size: 5rem;
}
.headerMiddle {
    display: flex;flex-direction: column;justify-content: center;
}
.headerMiddle h3 {
    font-size: 1.3rem;margin: 0;
}
.headerMiddle span {
    font-size: .9rem;margin-bottom: 8px;
}
.headerMiddle button {
    display: inline-block;width: fit-content;background: var(--links);color: var(--white);
    margin-top: 5px;font-weight: bold;font-size: .8rem;padding: 6px 12px;
    transition: var(--transition);
}
.headerMiddle button:hover {
    background: var(--hover);
}
.navWrapper {
    background: var(--white);border-bottom: 1px solid var(--gray);
}
.navigation {
    width: 100%;margin: 0 auto;padding: 0 20px;
}
.navigation nav ul {
    display: flex;width: 100%;position: relative;
}
.navigation nav ul li a {
    display: inline-block;padding: 14px 16px;font-weight: bold;
    transition: var(--transition);
}
.navigation nav ul li a.activeLink, .navigation nav ul li a:hover {
    background: var(--links);color: var(--white);
}
.main {
    min-height: 500px;
}
.wrapper {
    width: 100%;margin: 0 auto;background: var(--white);min-height: 500px;
    padding: 0 16px;padding: 0 20px;
}
.success {
    position: fixed;right: 30px;bottom: 30px;
    background: #e2fbe6;
    color: #298d00;border: 1px solid #298d00;
    font-weight: bold;
    font-size: .9rem;
    padding: 16px;
    z-index: 10;
    transition: var(--transition);
}
.title {
    padding: 20px 10px;font-weight: bold;
}
.information {
    display: grid;grid-template-columns: 20% 20%;
}

.information, .edit, .booking {
    display: grid;grid-template-columns: 1fr 1fr;gap: 1rem;
}
.leftEdit, .leftBooking, .leftInformation, .rightInformation {
    min-height: 500px;border-right: 1px solid var(--gray);
    padding-right: 16px;
}
.leftInfo {
    display: grid;grid-template-columns: 1fr 1fr;
}
.information ul li span {
    padding: 6px  10px;
    display: block;
    border-bottom: 1px solid var(--light);
    margin-bottom: 40px;
}
.information ul li b {
    padding-left: 10px;
}
.rightBooking {
    padding-right: 16px;
}
.leftEdit h5, .leftBooking h5, .rightEdit h5, .rightBooking h5 {
    font-size: 1rem;font-weight: bold;padding: 20px 10px;
}
.rightEdit h5, .rightBooking h5 {
    padding-left: 0;
}
.leftEdit form, .updatePassword ul {
    display: grid;grid-template-columns: 1fr 1fr;
}
.leftEdit form ul li, .updatePassword form ul li {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--gray);
}
.leftEdit form ul li label, .updatePassword form ul li label {
    display: block;width: 100%;padding-left: 10px;
    font-weight: bold;
}
.updatePassword form ul li label {
    padding-left: 0;
}
.leftEdit form ul li b {
    display: block;
    font-weight: bold;
    background: var(--light);
    padding: 6px 10px;
}
.leftEdit form ul li span {
    padding: 6px 10px;
    display: block;
    background: var(--light);
}
.leftEdit form ul li input, .updatePassword form ul li input {
    display: block;
    padding: 6px 10px;
    width: 100%;
    border: none;
    outline: none;
}
.updatePassword form ul li input {
    padding: 12px 0;
}
.updatePassword form ul li input::placeholder {
    font-size: .8rem;
}
.leftEdit form ul li input:focus, .updatePassword form ul li input:focus {
    background: #eef9ff;
}
.leftEdit form button, .updatePassword form button {
    padding: 10px 16px;background: #249b28;color: var(--white);font-size: .9rem;
    font-weight: bold;transition: var(--transition);
}
.passwordInfo {
    margin-top: 30px;
}
.leftEdit form button:hover, .updatePassword form button:hover {
    background: #1d8921;
}
form ul li span.error {
    color: #cc0000;font-weight: bold;font-size: .9rem;
    padding: 0;background: var(--white);
}
/* Booking */
.clear {
    clear: both;
}
span.completed {
    color: #19971d;
}
span.canceled {
    color: #d73838;
}
.bookingList table tr {
    transition: var(--transition);
}
.bookingList table tr th, .bookingList table tr td {
    font-size: .9rem;vertical-align: middle;
}
.bookingList table tr:hover {
    background: var(--light);
}
.bookingList table tr td.activeTour {
    color: #19971d;font-weight: bold;
}
.bookingList table tr td.inActiveTour {
    color: #c93012;font-weight: bold;
}
.bookingList table tr.activeView, .bookingList table tr.activeView td.activeTour, 
.bookingList table tr.activeView td.inActiveTour {
    background: var(--links);color: var(--white);
}
button.view {
    padding: 10px 15px;font-weight: bold;font-size: .9rem;color: var(--main);
    background: var(--links);color: var(--white);
}
button.view::before {
    content: '\F38B';font-family: 'bootstrap-icons';
}
.bookingWrap {padding: 8px 0px;position: relative;}
.bookingTop, .tourDetailsWrap, .bookingInfoTitle, .bookingDetailsTable, .bookingOtherInfo {margin-bottom: 40px;}
.bookingTop ul:nth-child(1), .tourDetailsWrap ul:nth-child(1) {float: left;}
.bookingTop ul:nth-child(2), .tourDetailsWrap ul:nth-child(2) {float: right;margin-left: 15px;}
.bookingTop span, .tourDetailsWrap ul span {
    display: block;font-weight: bold;font-size: 1rem;margin-bottom: 10px;
}
.bookingTop ul li, .tourDetailsWrap ul li, .bookingOtherInfo ul li {font-size: 1.05rem; margin-bottom: 10px;}
.bookingTop ul li strong, .tourDetailsWrap ul li strong, .bookingOtherInfo ul li strong {display: inline-block;min-width: 140px;font-size: 1rem;}
ul.bookingResTop li strong {display: block;}
.bookingInfoTitle {padding: 6px 10px;background: #6462f1;color: var(--white); font-size: 1rem; font-weight: bold;}
table.bookingDetailsT tr th, table.bookingDetailsT tr td {
    font-size: 1rem;
}
.bookingTotal {display: flex;justify-content: flex-end;}
.bookingTotal ul li {font-size: 1.1rem;font-weight: bold;text-align: right;}
.bookingTotal ul li strong {display: inline-block;min-width: 130px;}
.bookingOtherInfo button.cancel {
    display: block;padding: 10px 20px;border: none;color: var(--white);background: #cc0000;
    margin: 20px 0;font-weight: bold;font-size: 1rem;transition: var(--transition);
}
.bookingOtherInfo button.cancel:hover, button.closeBooking:hover {
    background: #d73838;
}
.bookingOtherInfo a {font-size: 1rem;font-weight: bold;display: inline-block;margin-right: 20px;}
button.closeBooking {
    position: absolute;top: -68px;right: 0;background: #cc0000;color: var(--white);
    height: 49px;width: 49px;
}
.errorMessage {
    position: fixed;right: 30px;bottom: 30px;
    background: #fbe8e2;
    color: #cc0000;border: 1px solid #cc0000;
    font-weight: bold;
    font-size: .9rem;
    padding: 16px;
    z-index: 10;
    transition: var(--transition);
}
/* Booking */
@media only screen and (max-width: 768px) and (min-width: 320px) {
    .header {
        display: grid;padding: 0 10px;
    }
    .wrapper, .headerWrapper, .navigation {
        width: 100%;min-height: auto;height: auto;padding: 0 5px;
    }
    .wrapper {
        padding: 0 20px;
    }
    .information, .edit, .booking {
        display: block;
    }
    .leftInfo {
        display: block;
    }
    .leftEdit {
        border-right: none;padding-right: 0;min-height: auto;
        margin-bottom: 30px;
    }
    .rightEdit {
        padding-bottom: 50px;
    }
    .updatePassword form ul li label {
        font-size: .9rem;padding-left: 0;
    }
    .headerMiddle button {
        display: inline-block;width: fit-content;background: var(--links);color: var(--white);
        margin-top: 5px;font-weight: bold;font-size: .8rem;padding: 6px 12px;
    }
    .leftBooking {
        padding: 0;border-right: none;
    }
    .rightBooking h5 {
        display: none;
    }
    .main {
        position: relative;
    }
    .bookingWrap {
        position: fixed;top: 0;left: 0;background: var(--white);width: 100%;height: 100%;
        z-index: 5;overflow: scroll;padding: 0;
    }
    .bookingTop ul, .tourDetailsWrap ul, ul.bookingResTop {
        float: none !important;
    }
    .bookingInfoTitle {
        padding: 10px;
    }
    ul.bookingResTop:nth-child(2), .tourDetailsWrap ul:nth-child(2) {
        margin: 0;
    }
    .tourDetailsWrap ul:nth-child(3) {
        margin-top: 20px;
    }
    .bookingTop ul li, .tourDetailsWrap ul li, .tourDetailsWrap ul span, .bookingOtherInfo ul li {
        padding: 0 20px;
    }
    .tourDetailsWrap ul li, .bookingOtherInfo ul li {
        margin-bottom: 10px;font-size: .9rem;
    }
    .tourDetailsWrap ul li strong, .bookingOtherInfo ul li strong {
        font-size: .9rem;
    }
    ul.bookingResTop li {
        margin-bottom: 10px;
    }
    .bookingTop ul span {
        display: block;width: 100%;padding: 10px 20px;font-size: 1.2rem;font-weight: bold;
        border-bottom: 1px solid var(--gray);height: 50px;
    }
    table.bookingDetailsT tr th, table.bookingDetailsT tr td {
        font-size: .8rem;
    }
    .bookingTotal ul li strong {
        display: block;
    }
    .bookingTotal ul li, .bookingTotal ul li strong {
        font-size: .9rem;text-align: right;
    }
    .bookingTotal ul li {
        margin-right: 20px;
    }
    button.cancel {
        margin-left: 20px !important;
    }
    .bookingOtherInfo a {
        margin: 0 0 0 20px !important;
    }
    button.closeBooking {
        position: absolute;top: 0;right: 0;background: #cc0000;color: var(--white);
        height: 50px;width: 50px;
    }
    .success {
        background: #e2fbe6;
        color: #298d00;border: 1px solid #298d00;
        font-weight: bold;
        font-size: .9rem;
        padding: 16px 0;
        position: fixed;bottom: 0;left: 0;width: 100%;text-align: center;
        z-index: 5;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .wrapper, .headerWrapper, .navigation {
        width: 100%;padding: 0 20px;
    }
  }
  @media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .wrapper, .headerWrapper, .navigation {
        width: 100%;padding: 0 20px;
    }
  }
  @media only screen and (min-width: 1400px) {
    .wrapper, .headerWrapper, .navigation {
      width: 1320px;padding: 0;
    }
  }
/* Media */