@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
section.services {
    background: var(--white);
}
.headerWrapper {
    width: 1320px;margin: 0 auto;height: 600px;flex-wrap: wrap;
    display: flex;align-items: center;
}
.wrapper {
    width: 1320px;margin: 0 auto;
}
.left, .right {
    flex: 50%;
}
.left h1 {
    font-family: "Montserrat", sans-serif;font-size: 3rem;line-height: 1;
    margin-bottom: 30px;
}
.left p {
    display: block;margin-bottom: 20px;line-height: 1.8;
}
.left a {
    padding: 14px 20px;background: var(--links);color: var(--white);font-weight: bold;
    display: inline-block;
}
.right div {
    position: relative;width: 100%;height: 80%;overflow: hidden;border-radius: 30px;
}
.right div img {
    width: 100%;height: 100%;object-fit: cover;
}
section.second, .third {
    background: var(--white);padding: 80px 0;
}
.secondBox {
    display: inline-flex;gap: 10rem;align-items: center;
}
.secondLeft h3 {
    font-size: 1.2rem;
}
.thirdBoxes {
    display: flex;
}
.box {
    padding: 20px;
    margin: 10px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 0 20px #e5e5e5;
    transition: var(--transition);
}

.box b {
    font-size: 1rem;display: block;margin-bottom: 5px;
}
.box p {
    font-size: .9rem;
}
.box span {
    border: 1px solid var(--gray);padding: 6px 14px;
    display: inline-block;border-radius: 50%;margin-bottom: 5px;
}
span[data-box="box-1"]::before {
    content: "\F7CC";font-family: 'bootstrap-icons';font-size: 1.7rem;
}
span[data-box="box-2"]::before {
    content: "\F885";font-family: 'bootstrap-icons';font-size: 1.7rem;
}
span[data-box="box-3"]::before {
    content: "\F87E";font-family: 'bootstrap-icons';font-size: 1.7rem;
}
span[data-box="box-4"]::before {
    content: "\F8C5";font-family: 'bootstrap-icons';font-size: 1.7rem;
}
.box:hover {
    background: var(--hover);color: var(--white);
}

/* Media */
@media only screen and (max-width: 1140px) and (min-width: 1024px) {
  .wrapper, .headerWrapper {
      width: 960px;
  }
}

  @media screen and (max-width: 1024px) {
    .wrapper, .headerWrapper {
      width: 90%;margin: 0 auto;
    }
  }
  @media only screen and (max-width: 425px) and (min-width: 320px) {
    .wrapper, .headerWrapper {
        width: 100%;margin: 0 auto;
      }
      section.services {
        border-top: 1px solid var(--gray);text-align: center;
        padding: 20px;margin-top: 30px;
      }
      section.second {
        padding: 100px 0 0 0;
      }
      .secondLeft h3 {
        margin-bottom: 20px;
      }
      .third {
        padding-top: 40px;
      }
      .left a {
        margin-bottom: 40px;
      }
      .secondBox {
        display: block;padding: 20px;
      }
      .thirdBoxes {
        display: block;
      }
      .box {
        padding: 40px 20px;
      }
  }