.wrapper {
    width: 1320px;min-height: 700px;display: flex;align-items: center;
    justify-content: center;margin: 0 auto;
}
.box {
   
    width: 90%;text-align: center;padding: 20px;
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .wrapper {
        width: 100%;
    }
}