.hover {
    position: fixed;width: 100%;height: 100%;top: 0; left: 0;z-index: 10;
    background: rgba(0, 0, 0, .7);display: grid;
    align-items: center;justify-items: center;
}
.wrap {
    width: 40%;background: var(--white);position: relative;
}
.wrap h3 {
    font-size: 1.3rem;font-weight: bold;padding: 20px;border-bottom: 1px solid var(--gray);
    margin: 0;
}
.close {
    position: absolute;top: -16px;right: -16px;font-weight: bold;background: #cc0000;color: var(--white);
    padding: 4px 10px;border-radius: 50%;cursor: pointer;
}
.description {
    padding: 20px;border-bottom: 1px solid var(--gray);
}
.details, .services {
    display: grid;grid-template-columns: 1fr 1fr;padding: 20px;
    border-bottom: 1px solid var(--gray);gap: 2rem;
}
.details ul li {
    font-weight: bold;display: block;margin-bottom: 10px;
}
.details ul li b {
    display: block;font-weight: normal;
}
.services span b {
    display: block;
}
.payment {
    display: grid;grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}
.payment div span {
    font-weight: bold;
}
.payment div b {
    display: block;font-weight: normal;
}
.book {
    padding: 20px;
}
.book button {
    padding: 12px 20px;font-weight: bold;background: var(--links);color: var(--light);
}
button.actionButtons {
    background: var(--light);font-size: 1.4rem;
    padding: 0 8px;
}
span.guestsTotal {
    margin: 0 10px;
}

/* Media */
@media only screen and (max-width: 425px) and (min-width: 320px) {
    .wrap {
        width: 100%;
    }
    .book button {
        width: 100%;
    }
    .close {
        top: 0;
        right: 0;
        border-radius: 0;
        height: 64px;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f53a3a;
    }
    .payment {
        display: flex;justify-content: space-between;
    }
    button.actionButtons {
        padding: 0 12px;
    }
    li.guestsTitle b {
        margin-top: 22px;margin-bottom: 5px;
    }
}
/* Media */