@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* Header */
section.header {
    position: relative;
}
.headerImg {position: relative;height: 600px;}
.headerImg img {
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;object-fit: cover;
}
.headerTop {
    position: absolute;top: 0;left: 0;width: 100%;height: 100%;display: flex;
    justify-content: center;flex-direction: column;
    align-items: center;color: var(--white);background: rgba(0 0 0 / .5);
}
.headerTop h1 {
    font-weight: bold;margin-bottom: 10px;font-size: 2rem; width: 80%;
    text-align: center;margin-bottom: 15px;
}
button.headerButton {
    padding: 8px 20px;border: none;background: var(--white);font-size: 1.1rem;
    font-weight: bold;border-radius: 20px;transition: var(--transition);
    cursor: pointer;
}
button.headerButton:hover {background: var(--hover);color: var(--white);}
.weather {position: absolute;top: 50px;right: 100px;text-align: center;font-weight: bold;}
.weatherDescription {font-size: 1.2rem;line-height: 10px;margin-bottom: 5px;}
.weatherCurrent {font-size: 1rem;}
.weatherImg span {font-size: 2.2rem;position: relative;top: -3px;}
.weatherImg img {
    vertical-align: 0;position: relative;top: 10px;
}
/* Header */

/* Main */
section.mainSection {
    padding: 30px 0;background: var(--white);
}
.wrapper {
    width: 1320px;margin: 0 auto;
}
.success {
    padding: 20px 0;
    background: #ceffd8;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: bold;
    color: #128f16;
    z-index: 99;
}
.errorMessage {
    padding: 20px 0;
    background: #fbe3e3;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: bold;
    color: #b90202;
}
.success a, .errorMessage a {
    font-weight: bold;
}
.title {
    margin-bottom: 20px;
}
.title h2 {
    font-size: 1.5rem;margin-bottom: 10px;
}
.title span {
    margin-right: 30px;display: inline-block;font-weight: 500;
}
span[data-type="destination"]::before {
    content: '\F3E7';font-family: 'bootstrap-icons';margin-right: 5px;
    position: relative;top: 2px;font-size: 1.2rem;
}
span[data-type="duration"]::before {
    content: '\F1F3';font-family: 'bootstrap-icons';margin-right: 5px;
    position: relative;top: 2px;font-size: 1.2rem;
}
span[data-type="category"]::before {
    content: '\F7CC';font-family: 'bootstrap-icons';margin-right: 5px;
    position: relative;top: 2px;font-size: 1.2rem;
}
.mainBox {
    display: grid;grid-template-columns: 70% 1fr;gap: 2rem;
}
/* Gallery */
.gallery {
    display: grid;
    grid-template-areas: "main-photo main-photo photo-1 photo-2" 
    "main-photo main-photo  photo-3 photo-4";
    height: 350px;gap: 1rem;
    margin-bottom: 40px;
}
.mainPhoto {
    grid-area: main-photo;background: var(--main-color);position: relative;border-radius: 10px;
    overflow: hidden;cursor: pointer;transition: var(--transition);
    /* animation: placeholder 1s infinite; */
}
.photo1 {
    grid-area: photo-1;background: var(--main-color);position: relative;border-radius: 10px;
    overflow: hidden;cursor: pointer;transition: var(--transition);
    /* animation: placeholder 1s infinite; */
}
.photo2 {
    grid-area: photo-2;background: var(--main-color);position: relative;border-radius: 10px;
    overflow: hidden;cursor: pointer;transition: var(--transition);
    /* animation: placeholder 1s infinite; */
}
.photo3 {
    grid-area: photo-3;background: var(--main-color);position: relative;border-radius: 10px;
    overflow: hidden;cursor: pointer;transition: var(--transition);
    /* animation: placeholder 1s infinite; */
}
.photo4 {
    grid-area: photo-4;background: var(--main-color);position: relative;border-radius: 10px;
    overflow: hidden;cursor: pointer;transition: var(--transition);
    /* animation: placeholder 1s infinite; */
}
.mainPhoto img, .photo1 img, .photo2 img, .photo3 img, .photo4 img {
    width: 100%;height: 100%;object-fit: cover;
}
.mainPhoto:hover, .photo1:hover, .photo2:hover, .photo3:hover, .photo4:hover {opacity: .8;}

/* Active Gallery */
.activeGalleryWrap {
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;
    background: rgba(0, 0, 0, .7);z-index: 15;
    display: flex;justify-content: center;align-items: center;
}
.activeGalleryImgBox {
    width: 80%;height: 90%;position: relative;
}
.prevImg {
    position: fixed;left: 0;top: 0;display: flex;align-items: center;justify-content: center;
    width: 80px;height: 100%;padding: 0 20px;background: rgba(0, 0, 0, .4);
}
.prevImg i {
    color: var(--white);font-size: 2rem;cursor: pointer;
}
.nextImg {
    position: fixed;right: 0;top: 0;display: flex;align-items: center;justify-content: center;
    width: 80px;height: 100%;padding: 0 20px;background: rgba(0, 0, 0, .4);
}
.nextImg i {
    color: var(--white);font-size: 2rem;cursor: pointer;
}
.activeImage {
    width: 100%;height: 100%;position: relative;overflow: hidden;
}
.activeImage img {
    width: 100%;
}
button.closeGallery {
    position: absolute;top: 20px;right: 20px;border: none;
    background: transparent;z-index: 1;
}
button.closeGallery i {
    font-size: 2rem;color: var(--white);
}
/* Gallery */
.right {
    border: 1px solid var(--gray);border-radius: 20px;position: sticky;
    padding: 30px 20px;height: 350px;top: 20px;
}
.sale {
    position: absolute;top: 0;right: 0;background: var(--links);color: var(--white);
    padding: 8px 16px;text-transform: uppercase;border-bottom-left-radius: 20px;
}
.duration {
    font-weight: bold;font-size: 1.2rem;
}
.rate {
    display: block;font-weight: normal;font-size: .8rem;margin-bottom: 30px;
}
.rate b {
    display: inline-block;margin-left: 40px;
}
.rate b::before {
    content: '\F586';font-family: 'bootstrap-icons';margin-right: 5px;
    position: relative;top: 1px;color: #f4d62b;
}
.priceBox {
    display: grid;grid-template-columns: 1fr 1fr;
}
span.price strong {
    font-size: .9rem;text-decoration: line-through;
}
span.discount {
    font-size: .8rem;position: relative;top: 14px;text-align: right;
}
span.price b {
    display: block;font-size: 1.6rem;
}
.book {
    margin: 30px 0;
}
.book button {
    display: block;width: 100%;text-align: center;background: var(--links);
    color: var(--white);padding: 12px 0;cursor: pointer;border-radius: 20px;
    transition: var(--transition);font-weight: bold;
}
.book button:hover {
    background: var(--hover);
}
.rightBottom {
    font-size: .8rem;
}
.rightBottom b {
    display: block;font-size: 1.1em;
}
.boxTitle {
    font-size: 1.1rem;font-weight: bold;margin-bottom: 20px;
}
.services {
    display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 2rem 1rem;
    margin-bottom: 40px;
}
.serviceDesc {
    font-size: .9rem;
}
.serviceDesc b {
    display: block;
}
.service {
    display: grid;grid-template-columns: 36px 1fr;gap: 1rem;
}
.serviceImg[data-type="tickets"]::before {
    content: '\F5AF';font-family: 'bootstrap-icons';
    display: block;
    text-align: center;
    font-size: 1.52rem;
    border: 1px solid var(--gray);color: var(--links);
}
.serviceImg[data-type="hotel"]::before {
    content: '\F422';font-family: 'bootstrap-icons';
    display: block;
    text-align: center;
    font-size: 1.52rem;
    border: 1px solid var(--gray);color: var(--links);
}
.serviceImg[data-type="transfer"]::before {
    content: '\F87E';font-family: 'bootstrap-icons';
    display: block;
    text-align: center;
    font-size: 1.52rem;
    border: 1px solid var(--gray);color: var(--links);
}
.serviceImg[data-type="insurance"]::before {
    content: '\F38A';font-family: 'bootstrap-icons';
    display: block;
    text-align: center;
    font-size: 1.52rem;
    border: 1px solid var(--gray);color: var(--links);
}
.serviceImg[data-type="museum"]::before {
    content: '\F1DD';font-family: 'bootstrap-icons';
    display: block;
    text-align: center;
    font-size: 1.52rem;
    border: 1px solid var(--gray);color: var(--links);
}
.serviceImg[data-type="photo"]::before {
    content: '\F219';font-family: 'bootstrap-icons';
    display: block;
    text-align: center;
    font-size: 1.52rem;
    border: 1px solid var(--gray);color: var(--links);
}
.program, .onMap, .mapBox {
    margin-bottom: 40px;
}
.program p {
    text-align: justify;line-height: 2;
}
.reviewSubmitted {
    position: fixed;right: 30px;bottom: 30px;
    background: #e2fbe6;
    color: #298d00;border: 1px solid #298d00;
    font-weight: bold;
    font-size: .9rem;
    padding: 16px;
    z-index: 99;
}
.loginRequired {
    position: fixed;top: 0;left: 0;width: 100%;height: 100%;
    background: rgba(0, 0, 0, .7);z-index: 50;
    display: flex;align-items: center;justify-content: center;
}
.loginBox {
    width: 25%;background: var(--white);padding: 25px;position: relative;
}
.loginBox h5 {
    font-weight: bold;font-size: 1.1rem;margin-bottom: 15px;
}
.loginBox p {
    margin-bottom: 10px;font-size: .9rem;
}
.loginBox span {
    display: inline-block;margin: 0 10px;
}
.loginBox a {
    padding: 8px 16px;background: var(--links);color: var(--white);
    display: inline-block;margin-top: 10px;font-size: .9rem;
}
.loginBox button {
    position: absolute;top: -16px;right: -16px;font-weight: bold;background: #cc0000;color: var(--white);
    padding: 4px 10px;border-radius: 50%;cursor: pointer;
}
/* Main */

/* Media */
@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 890px;
    }
  }
  @media only screen and (max-width: 1140px) and (min-width: 1024px) {
    .wrapper {
        width: 960px;
    }
    .right, .gallery {
        height: 405px;overflow: hidden;
    }
    .book {
        margin-bottom: 15px;
    }
    .duration {
        margin-top: 15px;
    }
  }
  @media only screen and (max-width: 425px) and (min-width: 320px)  {
    .wrapper {
        width: 100%;
    }
    .right, .services, .mainBox {
        display: block;
    }
    .right {
        height: 380px;
    }

/* Gallery */
    .gallery {
        display: grid;
        grid-template-areas: "main-photo main-photo main-photo main-photo" 
        "photo-1 photo-1 photo-2 photo-2" "photo-3 photo-3 photo-4 photo-4";
        height: 520px;gap: 1rem;
    }
    .mainPhoto {
        min-height: 240px;
    }
    .photo1, .photo2, .photo3, .photo4 {
        min-height: 120px;
    }
    .activeGalleryWrap {
        display: block;background: rgba(0, 0, 0, .9)
    }
    .activeGalleryImgBox {
        height: auto;width: 100%;
    }
    .prevImg {
        position: relative;display: inline-block;margin-right: 20px;
        background: transparent;text-align: center;
    }
    .nextImg {
        position: relative;display: inline-block;margin-left: 20px;
        background: transparent;text-align: center;
    }
    .actionButtons {
        position: fixed;bottom: 0;width: 100%;text-align: center;     
        background: rgba(0, 0, 0, .4);padding: 5px 0;
    }
    button.closeGallery {
        position: fixed;bottom: 0;top: auto;left: 50%;right: auto;bottom: 5px;
        margin-left: -16px;
    }
/* Gallery */

    .headerTop {
        text-align: center;
    }
    section.mainSection {
        padding: 30px 15px;
    }
    .weather {
        position: static;text-align: center;margin-top: 20px;
    }
    .weatherImg span {
        font-size: 1.7rem;
    }
    .weatherDescription {
        font-size: 1.2rem;
    }
    .headerTop {
        padding: 0 10px;
    }
    .headerTop h1 {
        font-size: 1.7rem;
    }
    .service {
        margin-bottom: 30px;
    }
    .success {
        position: fixed;bottom: 0;left: 0;width: 100%;border-radius: 0;z-index: 99;
    }
    .success div {
        position: static;
    }
    .reviewSubmitted {
        position: fixed;left: 0;top: 0;bottom: unset;
        width: 100%;
        height: auto;text-align: center;
        background: #e2fbe6;
        color: #298d00;border: 1px solid #298d00;
        font-weight: bold;
        font-size: .9rem;
        z-index: 99;
    }
    .loginRequired {
        position: fixed;top: 0;left: 0;width: 100%;height: 100%;
        background: rgba(0, 0, 0, .7);z-index: 50;
        display: flex;align-items: center;justify-content: center;
    }
    .loginBox {
        width: 98%;background: var(--white);padding: 25px;position: relative;
    }
    .loginBox button {
        position: absolute;top: 0;right: 0;font-weight: bold;background: #cc0000;color: var(--white);
        padding: 4px 10px;border-radius: 0;cursor: pointer;
    }
    .program p {
        font-size: .85rem;
    }
  }
/* Media */