.top {
    background: #fff;
}
.Wrapper {
    width: 1320px;margin: 0 auto;height: 60px;display: flex;justify-content: space-between;
    align-items: center;
}
.navigation nav ul {
    display: flex;align-items: center;
}
.navigation nav ul li a {
    margin-left: 16px;font-weight: bold;color: #525252;
    transition: all .4s ease;position: relative;
}
.navigation ul li a:hover {color:#4681f4;}
.navigation ul li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -8px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #4681f4;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navigation ul li a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .navigation nav ul li a.auth {
    background: #4681f4;color: #fff;padding: 10px 14px;border-radius: 20px;
    font-size: .9rem;
  }
  .navigation nav ul li a.auth:hover {background: var(--hover);}
  .navigation nav ul li a.auth:hover::after, .navigation nav ul li a.userProfile:hover::after {display: none;}
  .navigation nav ul li a.userProfile {
    margin-left: 20px;
    background: var(--links);
    padding: 12px 10px;
    display: inline;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1rem;
    color: var(--white);
  }
  .navigation nav ul li:last-child span {
    margin-left: 10px;font-weight: bold;font-size: .85rem;
  }
  .navigation nav ul li:last-child span b {
    display: block;
    font-size: .8rem;
    line-height: 1;
  }

  /* Media */
@media only screen and (max-width: 1024px) {
  .Wrapper {
      width: 890px;
  }
}
@media only screen and (max-width: 425px) and (min-width: 320px) {
  .Wrapper {
      width: 100%;display: block;height: auto;
  }
  .navigation nav ul {
  display: block;
  }
  .navigation nav ul li {
    text-align: center;
  }
  .navigation nav ul li a {
    margin: 10px 0;display: block;
  }
  .navigation nav ul li:last-child {
    display: flex;align-items: center;justify-content: center;
    text-align: left;border-top: 1px solid var(--gray);padding: 10px 0;
  }
  .navigation nav ul li:last-child span b {
    display: block;font-size: .8rem;
  }
  .navigation nav ul li a.userProfile {
    display: inline-block;margin-right: 10px;margin-left: 0;
  }
  .navigation nav ul li a.userProfile span b {
    display: block;
  }
}
/* Media */