* {margin: 0;padding: 0;box-sizing: border-box;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
a {text-decoration: none;}
li {list-style: none;}
ol,ul {margin: 0;padding: 0;}
button {border: none;font-size: inherit;}